<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delivery.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @delivery.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @delivery.phone %>
</p>

<p>
  <strong>Size:</strong>
  <%= @delivery.size %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
