<div class="row">
	<div class="col-md-4">
		<div id="imgZ" style="width:300px; min-height:240px; padding-bottom:10px;"><%= image_tag @delivery.image_url, class: "img-responsive" %>

		</div>

		<h2>
		  <strong>Name:</strong>
		  <%= @delivery.name %>
		  <div class="star-rating" data-score= <%= @avg_rating %> >
		</h2>

		<p>
		  <strong>Address:</strong>
		  <%= link_to @delivery.address, "http://maps.google.com/?q=#{@delivery.address}" %>
		</p>	 

		<p>
		  <strong>Phone:</strong>
		  <%= @delivery.phone %>
		</p>

		<p>
		  <strong>Size:</strong>
		  <%= @delivery.size %>
		</p>

		<%= link_to "Write a Review", new_delivery_review_path(@delivery), class: "btn btn-primary" %><br /><br />

		<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
		<%= link_to 'Back', deliveries_path %>
	</div>

	<div class="col-md-8">
	<% if @reviews.blank? %>
		<h2>No reviews yet. Be the first to write one!</h2>
	<% else %>
	<table>
		<thead>
			<tr>
				<th class="col-md-4"></th>
				<th class="col-md-8"></th>
			</tr>
		</thead>
		<tbody>
			<% @reviews.each do |review| %>
			<tr>
				<td>
					<h4>
						<%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
					</h4>
					<p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
				</td>
				<td>
					<div class="star-rating"></div>
					<p><%= review.rating %></p> 
					<p><%= review.comment %></p>
					<% if user_signed_in? %>
						<% if (review.user == current_user) || (current_user.admin?) %>
							<%= link_to "Edit", edit_delivery_review_path(@delivery, review), class: "btn btn-link" %> |
							<%= link_to "Delete", delivery_review_path(@delivery, review), method: :delete, class: "btn btn-link" %>
						<% end %>
					<% end %>					
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>		
	<% end %>
	</div>
</div>

<script>
	$('.star-rating').raty();
</script>
